body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
.flex{
    
    background-color: #D7E1E6;
    padding-top: 20px;
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size:100% 100% ;
    height: 100vh;
}
.flex1{
    display: flex;
    flex-wrap: wrap;
}.mainimage>svg{
    height: 80%;
    width: 100%;
}
.mainimage{
    height: 100%;
    width: 50%;
    padding:20px  0px  0px 30px ;
}.mainlink{
    width: 35%;
}.mainlink>div>p{
    font-size: 300%;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 70px;
}
.mainlink>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}.mainlink>ul>li{
    padding-top: 10px;
}
.mainlink>ul>li>a{
    text-decoration: none;
    color: #000D10;
}.mainbutton>button{
    background-color:#000D10;
    height: 40px;
    width: 40px;
    color: white;
    border: 1px solid black;
    border-radius: 100%;
}.mainbutton{
    padding-top: 10px;

}.mainfoot{
    padding-left: 20px;
    padding-right: 20px;
 display: flex;
 width: 85%;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 500px;

}.footcontent{  
                     
    font-weight: bolder;
}.footbtn{
width: 400px;


}.footbtn>button{
    background-color: #000D10;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-radius: 30px;

}.flex+hr{
    margin: 0px;
}
.secondflex{
    height: 100%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    /* width: 100%; */
}.flex2{
height: 100%;
    width: 60%;
font-size: 60px;
font-weight: bold;
}.flex3{
    width: 60%;
}.flex3>ul{
    margin: 0px;
padding: 0px; 
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.flex3>ul>li{
    border-top: 1px solid black;
}.thirdflex{
    margin-top: 150px;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
@media screen and (max-width: 600px) {
    .second,.first,.third {
width: 100%;
    }
  }
  .third{
    display: flex;
align-items: flex-end;
    width: 33%;
    background-color: #BC7155;
}
.second{
display: flex;
align-items: flex-end;
    width: 34%;
    background-image: url("./images/background2.avif");
    background-repeat: no-repeat;
    background-size: cover;
}.first{
    display: flex;
    width: 33%;
    background-color: #151623;
}
.first1{
    display: flex;
    flex-direction: column;
}.first1>button{
margin-top: 7%;
height: 30px;
}.first1>p{
margin-top: 70%;

}.first1>button{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 50px;
    width: 100px;
}
.flex4image{
    padding:50px 10px 10px 60px ;
    background-image: url("./images/background3.avif");
    background-size: cover;
    height:300px;
   width:300px ;
   border: 3px solid white;
   border-bottom-right-radius: 30px;

    display: flex;
  }.flex4-2{
margin-top: 150px;
padding-top: 80px;
padding-left: 200px;
height: 60vh;

  }
  
    
 .flex4{ 
    flex-wrap: wrap;
     margin-top: 10px;
     gap: 20px;
display: flex;
}.flex4a{
    width: 100%;
    height: 175px;
padding-left:30px ;
    display: flex;
    justify-content: space-between;
}.flex4a>div{
    margin-left: 20px;
border-top: 1px solid slategrey;
    height: 100%;
    width: 100%;
}.flex4a>div>p{
    margin-top: 90px;
}.LBG{
    margin-top: 65px !important;

}
.flex5{
    border: 1px solid red;
    height: 90vh;
    display: flex;
    /* flex-wrap: wrap; */
}.image5{
    border: 1px solid red;
     

    /* background-image: url("./images/background4.png");
    background-size: cover;
    background-repeat: no-repeat;
background-color:white; */
}


    
