*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.flex{
    background-image: url("./images/areroplane.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.flex1{

    display: flex;
}.mainimage{
    height: 280px;
    width: 800px;
    padding: 30px;
}.mainlink{
    width: 500px;
    height: 150px;
}.mainlink>h1{
    font-size: 3em;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 40px;
}
.mainlink>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}.mainlink>ul>li{
    padding-top: 10px;
}
.mainlink>ul>li>a{
    text-decoration: none;
    color: #000D10;
}.mainbutton>button{
    background-color:#000D10;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 100%;
}.mainbutton{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60px;
    width: 100px;
}.mainfoot{
    padding-left: 20px;
    padding-right: 20px;
 display: flex;
flex-wrap: wrap;
justify-content: end;
margin-top: 30vh;

}.footcontent{
width: 600px;

}.footbtn{
width: 400px;


}.footbtn>button{
    background-color: #000D10;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border-radius: 30px;

}.secondflex{
    height: 100vh;
    display: flex;
    justify-content: right;
    /* flex-direction: column; */
    
       width: 100%;
}.flex2{
    width: 60%;
font-size: 3.2em;
padding-top: 30px;
font-weight: bold;

}.flex3{

    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 60%;
    margin-left: 505px;

}.flex3>h3{
    border-top: 1px solid black;
  padding: 20px  50px;
    margin-top: ;
}